@import 'variables';
@import 'grid';
@import 'font';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: #E2E2E2;
  transition: background-color 300ms ease-in-out;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font: 48px DalaMoaRegularNo2;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 10;

  nav {
    max-width: 1400px;
    margin: 0 auto 10px;
    padding: 0 20px;
    background: #e2e2e2;
    transition: background-color 300ms ease-in-out;

    .nav-links {
      border-bottom: 1px solid #000;
      margin-bottom: 10px;
      padding: 30px 0 10px;
      bottom: 0;

      .name {
        font: 30px/20px DalaMoaRegularNo2;
        float: left;
      }

      .contact {
        font-size: 9px;
        letter-spacing: .25em;
        text-transform: uppercase;
        float: left;
      }

    }
  }
}

footer {
  height: 70px;
  width: 100%;
  max-width: 1320px;
  margin: 30px auto 0;
  padding: 0 20px;
  background-color: rgba(0,0,0,0.05);

  .footer {
    font-size: 9px;
    letter-spacing: .25em;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px 0;
  }

}

main {
  min-height: calc(100% - 100px);
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 70px 10px 0 20px;

  .thumbnail {
    padding: 0 10px 10px 0;
  }

  .project {
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding-bottom: 10px;
    font-size: 9px;
    letter-spacing: .25em;
    transition: border-bottom 250ms ease-in-out;


    img {
      filter: saturate(0%) opacity(80%);
      -webkit-filter: saturate(0%) opacity(80%);
      transition: 250ms ease-in-out;
      padding-bottom: 10px;
    }

    .title, .description {
      text-transform: uppercase;
      color: rgba(0,0,0,0.5);
      transition: color 250ms ease-in-out;
    }

    &:hover {
      border-bottom: 1px solid rgba(0,0,0,1);
      img {
        filter: saturate(100%) opacity(100%);
        -webkit-filter: saturate(100%) opacity(100%);
      }

      .title, .description { color: rgba(0,0,0,1); }

    }

  }
}

@media screen and (min-width: $sm) {

}

@media screen and (min-width: $md) {

}

@media screen and (min-width: $lg) {
  header nav { padding: 0 40px; }
  main { padding: 70px 30px 0 40px;}
  footer { padding: 0 40px; }
}

@media screen and (min-width: $xl) {
  header nav { padding: 0 40px; }
  main { padding: 70px 30px 0 40px;}
  footer { padding: 0 40px; }
}
