@import 'variables';
@import 'grid';
@import 'font';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: $black;
  color: $lt_white;
}

a {
  text-decoration: none;
  color: $lt_white;
  transition: color 300ms ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 10;
  background: none;
  transition: background-color 300ms linear;
}

.nav.opaque {
  background: none;
  background: $black;
  transition: background-color 300ms linear;
  transition-delay: 300ms;

  .nav-links {
    border-bottom: 1px solid $dk_white;
  }

  .name, .contact {
    color: $md_white;
  }
}

.nav-links {
  transition: border-color 300ms linear;
  border-bottom: 1px solid rgba(255,255,255,0.75);
  margin-bottom: 10px;
  height: 60px;
  position: relative;

  .name {
    font: 32px/20px DalaMoaRegularNo2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
    color: rgba(255,255,255,0.75);
    position: absolute;
    bottom: 9px;
    left: 0;

    &:hover {
      color: rgba(255,255,255,1);
    }
  }

  .nav-list {
    position: absolute;
    right: 0;
    bottom: 9px;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      float: left;
      margin: 0 0 0 15px;
      line-height: 10px;

      a {
        color: rgba(255,255,255,0.75);
        font-size: 10px;
        letter-spacing: 0.2em;
        line-height: 10px;
        text-transform: uppercase;

        &:hover {
          color: rgba(255,255,255,1);
        }
      }

    }
  }
}

.project-mast {
  transition: opacity 1000ms linear;
  transition-delay: 300ms;
  visibility: hidden;
}

.project-mast.opaque {
  opacity: 0;
  transition: opacity 300ms linear;
}

.footer {
  height: 70px;
  margin-top: 80px;
  background: $vdk_white;
}

.content {
  min-height: calc(100% - 150px);
}

.sub-footer {
  background: $vdk_white;

}

.content {

  .intro {
    margin: 140px 0 120px;

    h1 {
      font: 48px DalaMoaRegularNo2;
      margin: 0;
      letter-spacing: 0.02em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }


}

.tile-container {

  img {
    padding-bottom: 10px;
  }

  img.img-only {
    padding-bottom: 0;
  }

  h1 {
    font: 64px DalaMoaRegularNo2;
    margin: 0;
    letter-spacing: 0.02em;
    text-indent: -2px;

  }

  h2 {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .2em;
    margin: 0 0 10px 0;

  }

  p {
    font-family: CalibreWeb-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 10px 0;
  }

  .sub-title {
    font: 24px/24px DalaMoaRegularNo2, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.04em;
    color: $dk_white;
  }

  .caption {
    color: $dk_white;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: .2em;
  }

}

.tile-divider {
  border-bottom: 1px solid $dk_white;
  padding-bottom: 10px;
}

.tile-link {
  cursor: pointer;
  transition: border-bottom 250ms ease-in-out;

  img {
    filter: saturate(0%) opacity(60%);
    -webkit-filter: saturate(0%) opacity(60%);
    transition: 250ms ease-in-out;
  }

  .caption, .sub-title {
    transition: color 250ms ease-in-out;
  }

  &:hover {
    border-color: $md_white;

    img {
      filter: saturate(100%) opacity(100%) brightness(100%);
      -webkit-filter: saturate(100%) opacity(100%) brightness(100%);
    }

    .caption, .sub-title {
      color: $lt_white;
    }
  }

}

.wrapper {
  
  .container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px 0 20px;
  }

  .tile {
    padding: 0 10px 10px 0;
  }
}

@media screen and (min-width: $sm) {
  .project-mast { visibility: visible; }
}

@media screen and (min-width: $md) {

}

@media screen and (min-width: $lg) {
  .project-mast { visibility: visible; }
  .wrapper .container { padding: 0 30px 0 40px; }
}

@media screen and (min-width: $xl) {
  .wrapper .container { padding: 0 30px 0 40px; }
}
