@import 'variables';
@import 'grid';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #E2E2E2;
  margin: 50px 0 50px;
  transition: 250ms ease-in-out;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%;

  .nav-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    background: green;
  }
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;

  .footer-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    background: green;
  }
}

.content {
  background: red;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;

  .grid {
    padding: 0 10px 10px 0;
  }

  .block {
    cursor: pointer;
    background: yellow;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;

    img {
      filter: saturate(0%) opacity(80%);
      -webkit-filter: saturate(0%) opacity(80%);
      transition: 250ms ease-in-out;

      &:hover {
        filter: saturate(100%) opacity(100%);
        -webkit-filter: saturate(100%) opacity(100%);

      }
    }

  }
}

@media screen and (min-width: $sm) {

}

@media screen and (min-width: $md) {

}
@media screen and (min-width: $lg) {

}
@media screen and (min-width: $xl) {

}
